<row>
    <div class="col-md-2">
        <label>Input:</label>
    </div>
    <div class="col-md-3">
        {{view Ember.TextField valueBinding="input" class="form-control input-sm" }}
    </div>
    <div class="col-md-2">
        &nbsp;
    </div>
    <div class="col-md-2">
        <label>Check digit:</label>
    </div>
    <div class="col-md-3">
        {{view Ember.TextField valueBinding="checkDigit" class="form-control input-sm" }}
    </div>
</row>
